/* =============================================
   HERO SECTION STYLES
   ============================================= */

/* Home Page */
.home {
  min-height: 100vh;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 10rem 1.6rem;
}

.my-name {
  font-size: 1.6rem;
  font-family: var(--heading-family);
  color: var(--black-text);
  opacity: 75%;
  cursor: pointer;
}

.hero-h1 {
  font-size: clamp(4.6rem, 0.0118rem + 11.7647vw, 5.6rem);
  line-height: clamp(6rem, 1.4118rem + 11.7647vw, 7rem);
  font-weight: 900;
  font-family: var(--heading-family);
  background: var(--heading-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  background-clip: text;
  color: transparent;
  cursor: pointer;
}

.hero-h1-desktop {
  display: none;
  font-size: 5.4rem;
  line-height: 6.4rem;
  font-weight: 900;
  font-family: var(--heading-family);
  background: var(--heading-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  background-clip: text;
  color: transparent;
  max-width: 109rem;
  cursor: pointer;
}

.hero-social-media {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  opacity: 75%;
}

.hero-down {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8rem;
}

/* Hero Buttons */
.desktop-button {
  display: none;
  transition: transform 0.2s ease;
}

.desktop-button:hover {
  transform: scale(1.075);
}

.button-flex {
  display: flex;
  align-items: center;
  padding: 1.2rem 2.2rem;
  background: var(--heading-color);
  gap: 1.2rem;
  border-radius: 3rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1),
    0px 15px 40px rgba(0, 0, 0, 0.1);
}

.button-flex p {
  font-family: var(--font-family);
  font-size: 1.4rem;
  color: var(--white-text);
}

.hero-p {
  display: none;
  font-size: 1.8rem;
  line-height: 3rem;
  color: var(--black-text);
  opacity: 75%;
  text-align: center;
  max-width: 84.5rem;
  cursor: pointer;
}
